* {
  margin: 0;
  padding: 0;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  float: left;
  margin: 1rem;
  z-index: 99;
  cursor: pointer;
  display: none;
}

.container {
    border: 1px solid #dbdbdb;
    background-color: #fefefe;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 14rem;
}

.navbar {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* gap: 1rem; */
  /* padding: 0.4rem; */
  margin-top: 6rem;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 8rem;
  transform: rotate(-20deg);
}

.links {
  list-style-type: none;
  /* border: 2px solid black; */
  padding: 1rem 1rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin-left: 0.3rem;
}

.links:hover {
  background-color: rgb(111, 185, 0);
  color: white;
}

@media (max-width: 768px) {
  .container  {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
