* {
  margin: 0;
  padding: 0;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  float: left;
  margin: 1rem;
  z-index: 99;
  cursor: pointer;
  display: none;
}

.container-nav {
  border: 1px solid #dbdbdb;
  background-color: #fefefe;
  float: left;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 14rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 6rem;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 8rem;
  transform: rotate(-20deg);
}

.links {
  list-style-type: none;
  padding: 1rem 1rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin-left: 0.3rem;
  width: calc(100% - 0.3rem);
  transition: color 0.2s ease-in-out;
}

.selected {
  background-color: #6fb900 !important;
  color: white !important;
}
.links:hover {
  background-color: #c0ff62 !important;
  color: black !important;
}

@media (max-width: 768px) {
  .container-nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
